# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.


# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!custom_components
!themes
!www

# Ignore folders.
.storage
.cloud
.google.token
tts
downloads
deps

# Ensure these YAML files are ignored, otherwise your secret data/credential$
.ios.conf
.miele-token-cache
.ring_cache.pickle
.spotify-token-cache
.uuid
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant_v2.db

